* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: #343a40;
  line-height: 1;
}

h3 {
  padding: 25px 0 25px 0;
}

.container {
  padding-left: 10px;
  padding-top: 10px;
}
